body {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #d0d2d4;
}

main {
  display: flex;
  flex-direction: column;
  height: 1056px;
  width: 816px;
  padding: 2rem 3rem 2rem 2rem;
}

a {
  font-family: Inter;
  color: #020413;
}

.sectionBodyContact {
  font-family: Inter;
  color: #020413;
  font-size: 14px;
  margin: 0px 0px 12px 0px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Inter;
  color: #020413;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 0px 4px 0px;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sectionLabel {
  width: 200px;
  font-family: Inter;
  color: #020413;
  font-size: 28px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

.sectionLabel a {
  font-size: 10px;
  height: 12px;
  display: block;
  margin: 0px 0px;
  padding: 2px 0px;
  text-decoration: none;
}

.sectionLabel h2 {
  font-family: Inter;
  color: #020413;
  font-size: 24px;
  text-decoration: none;
  margin: 10px 0px 12px 0px;
}
.sectionLabel div {
  width: 24px;
  margin: 8px 0px 8px 0px;
  border-top: 3px #020413 solid;
}

.sectionList {
  display: 'flex';
  flex-direction: 'row';
  margin: 8px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  border-top: 3px #020413 solid;
  width: 680px;
}

article h3 {
  font-family: Inter;
  font-weight: normal;
  color: #020413;
  font-size: 14px;
  margin: 0px 0px;
}

article h3 span {
  font-weight: bold;
}

.sectionBody p {
  font-family: Inter;
  color: #020413;
  font-size: 12px;
  margin: 8px 0px 8px 0px;
}

.sectionBody ul {
  font-family: Inter;
  color: #020413;
  font-size: 12px;
  margin: 8px 0px 16px -18px;
}

.sectionBody div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionBody li {
  margin: 3px 0px;
}

.sectionBody p span {
  font-weight: bold;
}

article em {
  font-family: Inter;
  font-weight: 300;
  color: #020413;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}
