.container {
  height: 100vh;
  width: 100vw;
  //padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D0D2D4;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom:10px
}

.title {
  font-family: helvetica;
  color: #020413;
  font-size:36px;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 0px 12px 0px;
}

.illustration {
    postion: absolute;
    right: 0px;
    zIndex: 0;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  width:100vw;
  height:100vh;
  //overflow-y: scroll;
  //overflow: hidden;

}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 90px 0px 0px 40px;
  justify-content: flex-start;
  width:100vw;
  align-items: flex-start;
  //overflow: hidden;
}

.body ul{
    list-style-type: disc;
    margin: 0px 0px 180px 0px;
  overflow-y: scroll;
}

.body li{
    margin: 10px 0px 10px 26px;
}

.body a{
    color:#020413;
    border-bottom: 1px solid #020413;
}
