.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #d0d2d4;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #d0d2d4;
}

.circleRowRed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(74px) translateY(-90px);
  mix-blend-mode: darken;
}

.circleRowBlack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.containerSquare {
  height: 248px;
  width: 248px;
  background-color: #ffffff;
  border: 1px solid #02adde;
  transform: rotate(-45deg);
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.greySquare {
  height: 248px;
  width: 248px;
  background-color: #d0d2d4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
}

.blueSquare {
  height: 125px;
  width: 125px;
  transform: rotate(45deg);
  background-color: #02adde;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  margin: 0px 36px;
}

.greyCircle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 150px;
  /* z-index: 1; */
  background-color: #d0d2d4;
}

.redCircle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 150px;
  background-color: #ee281b;
  transform: translateX(60px) translateY(60px);
  mix-blend-mode: darken;
}

.blackCircle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 150px;
  background-color: #d0d2d4;
  transform: translateX(-70px) translateY(-70px);
  mix-blend-mode: difference;
}
