.title {
  font-family: Inter;
  color: #020413;
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 0px 12px 0px;
}
.illustration {
  /* position: absolute; */
  right: 0px;
  /* z-index: 0; */
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 90px 0px 0px 40px;
  justify-content: flex-start;
  width: 60vw;
  z-index: 10;
  align-items: flex-start;
}
.section {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.sectionLabel {
  width: 260px;
  font-family: Inter;
  color: #020413;
  font-size: 28px;
  text-decoration: none;
  margin: 0px 0px 12px 0px;
}
.sectionLabel h1 {
  font-family: Inter;
  color: #020413;
  font-size: 24px;
  text-decoration: none;
  margin: 0px 0px 12px 0px;
}
.sectionLabel div {
  width: 24px;
  margin: 8px 0px 8px 0px;
  border-top: 3px #020413 solid;
}

.sectionList {
  display: 'flex';
  flex-direction: 'row';
  margin: 8px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  border-top: 3px #020413 solid;
  width: 700px;
}

.sectionBody h1 {
  font-family: Inter;
  font-weight: normal;
  color: #020413;
  font-size: 18px;
  /* margin: ; */
}

.sectionBody h1 span {
  font-weight: bold;
}

.sectionBody p {
  font-family: Inter;
  color: #020413;
  font-size: 14px;
  margin: 8px 0px 16px 0px;
}

.sectionBody ul {
  font-family: Inter;
  color: #020413;
  font-size: 14px;
  margin: 8px 0px 16px 18px;
}

.sectionBody li {
  margin: 2px 0px;
}

.sectionBody p span {
  font-weight: bold;
}

.sectionBody em {
  font-family: Inter;
  font-weight: 300;
  color: #020413;
  font-size: 14px;
  margin: 12px 0px 0px 0px;
}

.sectionBodyContact a {
  font-family: Inter;
  color: #020413;
  font-size: 14px;
  margin: 0px 0px 4px 0px;
  text-decoration: underline;
  display: flex;
}
